<div class="page-header">
  <h1>Application Status</h1>
</div>
	<div class="control-group string optional">
		Invalid Application tracking number, Please Provide a valid tracking number to check your application status.<br /> <br />
		<%= link_to "Check Again", {:controller => "member_zone", :action => "check_status"}, :class => "btn"%>
  </div>

