<div class="page-header">
  <h1>Application Status</h1>
</div>
	<div class="control-group string optional">
		You are not allowed to access this application status, You can only check your application status using our system.<br /> <br />
		<%= link_to "Check Your Application Status", {:controller => "member_zone", :action => "check_status"}, :class => "btn"%>
  </div>

