Hi <%= @user.name %>!<br />
Your account has been created successfully!<br /><br />
Login name: <%= @user.email %><br />
Password: <%= @user.password %><br />
Login URL: <a href="http://localhost:3000/access/login"> http://localhost:3000/login </a><br /><br />
Thanks!<br />
HR, DIIT